
<!DOCTYPE html>
{% load static %}
<html lang="en">
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">Journal Application</a>
    <button
      class="navbar-toggler"
      type="button"
      data-mdb-toggle="collapse"
      data-mdb-target="#navbarNav"
      aria-controls="navbarNav"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <i class="fas fa-bars"></i>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="{% url 'journalAppD:view-resources' %}">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'journalAppD:resources_pdf' %}">Journal PDF</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
<head>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js"></script>
   <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.7/css/all.css">
    <link rel="stylesheet" href="{% static 'css/resource.css' %}">
    <link rel="stylesheet" href="{% static 'css/searchBar.css' %}">

</head>
<body>
{% block content %}
{% endblock %}
</body>
</html>