{% extends "base.html" %}
{% block content %}
<h1>Welcome to our first html page</h1>


<form class="search" method="POST" action="{% url 'journalAppD:search_resources'%}">
    {% csrf_token %}
  <div class="search__wrapper">
    <input type="text"  placeholder="Search for..." class="search__field" name="searched">
   <button type="submit" class="fa fa-search search__icon"></button>
  </div>
</form>



{% for r in resource_list %}
    <article class="resourceStyle">
        <h2 class="{{ r.date_created|date:'l' }}">
            {{ r.date_created|date:'Y-m-d H:i' }}
        </h2>
        <h3>
            <a href="{% url 'journalAppD:update_resource' r.id %}">
                {{ r.title }}
            </a>
        </h3>
        <a href="{% url 'journalAppD:delete_resource' r.id %}">
            <button type="button" class="btn btn-outline-danger">Delete</button>
        </a>
    </article>

{% endfor %}
<!-- <div class="input-group">-->
<!--    <input type="text" class="form-control" placeholder="Search this blog">-->
<!--    <div class="input-group-append">-->
<!--      <button class="btn btn-secondary" type="button">-->
<!--        <i class="fa fa-search"></i>-->
<!--      </button>-->
<!--    </div>-->
<!--  </div>-->

{% endblock %}
