{% extends "base.html" %}
{% block content %}
<h1>Welcome to our first html page</h1>
<table>
    <tr>
        <th> Date </th>
        <th> Title </th>
        <th> Content </th>
        <th> - </th>
    </tr>
    {% for r in resource_list %}
     <tr>
         <td>{{ r.date_created }} </td>
         <td>{{ r.title }} </td>
         <td>{{ r.content }} </td>
         <td><a href="{% url 'journalAppD:update_resource' r.id %}">Edit Resource</a></td>
     </tr>
    {% endfor %}
    <td><a href="{% url 'journalAppD:create_resource' %}">Create New Resource</a></td>
</table>
{% endblock %}